@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Verdana, serif;
    background: linear-gradient(to bottom, lightgray 20%, #FFFFFF 50%);
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.no-scroll {
    overflow: hidden;
}

main{
    min-height: 1440px;
}

section:before {
    content: "";
    display: block;
    height: 100px; /* Adjust as necessary */
    margin-top: -5px; /* Should be the same as height */

    visibility: hidden;
}

/* Анимация для модального окна */
.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter-from, .fade-leave-to /* .fade-leave-active in <2.6 */ {
    opacity: 0;
}
.fade-enter-to, .fade-leave-from /* .fade-enter-active in <2.6 */ {
    opacity: 1;
}
