@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Verdana;
    background: linear-gradient(to bottom, lightgray 79%, #FFFFFF 50%);
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
